<section class="feature-cat-area pt-100" id="category">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">Jobs for a warrior like you</h1>
        </div>
      </div>
    </div>						
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6"  [routerLink]="['/searchJobs', disabilyList[0]]">
        <div class="single-fcat">
          <a>
            <img src="assets/img/o1.png" alt="">
          </a>
          <p>{{disabilyList[0]}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6" [routerLink]="['/searchJobs', disabilyList[1]]">
        <div class="single-fcat">
          <a>
            <img src="assets/img/o3.png" alt="">
          </a>
          <p>{{disabilyList[1]}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6" [routerLink]="['/searchJobs', disabilyList[2]]">
        <div class="single-fcat">
          <a>
            <img src="assets/img/o5.png" alt="">
          </a>
          <p>{{disabilyList[2]}}</p>
        </div>
      </div>																											
    </div>
  </div>	
</section>


			<!-- Start callto-action Area -->
			<section class="callto-action-area section-gap" id="join">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Be a part of our movement</h1>
								<p class="text-white">Help us!, create a environment where everyone can choose their profession.</p>
								<a class="primary-btn" [routerLink]="['/candidateRegistration']">I am a Candidate</a>
								<a class="primary-btn" [routerLink]="['/recruiterRegistration']">I am a Employeer</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
      <!-- End calto-action Area -->
      

      <section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Trending Job Sectors</h1>
								<p>Find Out trending sectors for the jobs</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="assets/img/o1.png" alt="">
								</a>
								<p>Accounting</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="assets/img/o2.png" alt="">
								</a>
								<p>Development</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="assets/img/o3.png" alt="">
								</a>
								<p>Technology</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="assets/img/o4.png" alt="">
								</a>
								<p>Media & News</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="assets/img/o5.png" alt="">
								</a>
								<p>Medical</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="assets/img/o6.png" alt="">
								</a>
								<p>Goverment</p>
							</div>			
						</div>																											
					</div>
				</div>	
			</section>
