<section class="feature-cat-area pt-100" id="category" style="padding-bottom: 50px">
  <div class="container">
      
      <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="single-fcat">
                  <a href="category.html">
                      <img src="img/o1.png" alt="">
                  </a>
                  <p>Add Job</p>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="single-fcat">
                  <a href="category.html">
                      <img src="img/o2.png" alt="">
                  </a>
                  <p>Review Candidates</p>
              </div>
          </div>
          
          <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="single-fcat">
                  <a href="category.html">
                      <img src="img/o4.png" alt="">
                  </a>
                  <p>View Candidates</p>
              </div>
          </div>
         
          <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="single-fcat">
                      <a href="category.html">
                          <img src="img/o3.png" alt="">
                      </a>
                      <p>Add Recruiter</p>
                  </div>
              </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="single-fcat">
                  <a href="category.html">
                      <img src="img/o6.png" alt="">
                  </a>
                  <p>Edit Profile</p>
              </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="single-fcat">
                      <a href="category.html">
                          <img src="img/o5.png" alt="">
                      </a>
                      <p>Customer Support</p>
                  </div>
              </div>
      </div>
  </div>
</section>
<!-- End feature-cat Area -->
<!-- Start post Area -->
<div class="container">
  <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
          <div class="title text-center">
              <h1>All Job Posts</h1>
          </div>
      </div>
  </div>
</div>
<section class="post-area section-gap">
  <div class="container">
      <div class="row justify-content-center d-flex">
          <div class="col-lg-8 post-list">
              <ul class="cat-list">
                  <li><a href="#">Recent</a></li>
                  <li><a href="#">Full Time</a></li>
                  <li><a href="#">Intern</a></li>
                  <li><a href="#">part Time</a></li>
              </ul>
              <div class="single-post d-flex flex-row">
                  <div class="thumb">
                      <img src="img/post.png" alt="">
                      <ul class="tags">
                          <li>
                              <a href="#">Art</a>
                          </li>
                          <li>
                              <a href="#">Media</a>
                          </li>
                          <li>
                              <a href="#">Design</a>
                          </li>
                      </ul>
                  </div>
                  <div class="details">
                      <div class="title d-flex flex-row justify-content-between">
                          <div class="titles">
                              <a href="single.html">
                                  <h4>Creative Art Designer</h4>
                              </a>
                              <h6>Premium Labels Limited</h6>
                          </div>
                          <ul class="btns">

                              <li><a href="#">Applied Candidates</a></li>
                          </ul>
                      </div>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc
                          ididunt ut dolore magna aliqua.
                      </p>
                      <h5>Job Nature: Full time</h5>
                      <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                      <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                  </div>
              </div>
              <div class="single-post d-flex flex-row">
                  <div class="thumb">
                      <img src="img/post.png" alt="">
                      <ul class="tags">
                          <li>
                              <a href="#">Art</a>
                          </li>
                          <li>
                              <a href="#">Media</a>
                          </li>
                          <li>
                              <a href="#">Design</a>
                          </li>
                      </ul>
                  </div>
                  <div class="details">
                      <div class="title d-flex flex-row justify-content-between">
                          <div class="titles">
                              <a href="single.html">
                                  <h4>Creative Art Designer</h4>
                              </a>
                              <h6>Premium Labels Limited</h6>
                          </div>
                          <ul class="btns">

                              <li><a href="#">Applied Candidate</a></li>
                          </ul>
                      </div>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc
                          ididunt ut dolore magna aliqua.
                      </p>
                      <h5>Job Nature: Full time</h5>
                      <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                      <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                  </div>
              </div>
              <div class="single-post d-flex flex-row">
                  <div class="thumb">
                      <img src="img/post.png" alt="">
                      <ul class="tags">
                          <li>
                              <a href="#">Art</a>
                          </li>
                          <li>
                              <a href="#">Media</a>
                          </li>
                          <li>
                              <a href="#">Design</a>
                          </li>
                      </ul>
                  </div>
                  <div class="details">
                      <div class="title d-flex flex-row justify-content-between">
                          <div class="titles">
                              <a href="single.html">
                                  <h4>Creative Art Designer</h4>
                              </a>
                              <h6>Premium Labels Limited</h6>
                          </div>
                          <ul class="btns">

                              <li><a href="#">Applied Candidate</a></li>
                          </ul>
                      </div>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc
                          ididunt ut dolore magna aliqua.
                      </p>
                      <h5>Job Nature: Full time</h5>
                      <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                      <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                  </div>
              </div>


              <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>

          </div>
          <div class="col-lg-4 sidebar">




              <div class="single-slidebar">
                  <h4>Jobs by Category</h4>
                  <ul class="cat-list">
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Vision Impairment</p><span>37</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Deaf</p><span>57</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Locomotor Disability</p><span>33</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Dyslexia</p><span>36</span>
                          </a></li>
                  </ul>
              </div>

              <div class="single-slidebar">
                  <h4>Jobs by Location</h4>
                  <ul class="cat-list">
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Mumbai</p><span>42</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Bengaluru</p><span>23</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Pune</p><span>19</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>New Delhi</p><span>21</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Kolkata</p><span>51</span>
                          </a></li>
                      <li><a class="justify-content-between d-flex" href="category.html">
                              <p>Chennai</p><span>11</span>
                          </a></li>

                  </ul>
              </div>

              <div class="single-slidebar">
                  <h4>Help</h4>
                  <div class="blog-list">
                      <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                          <a href="single.html">
                              <h4>Home Audio Recording <br>
                                  For Everyone</h4>
                          </a>
                          <div class="meta justify-content-between d-flex">
                              <p>
                                  02 Hours ago
                              </p>
                              <p>
                                  <span class="lnr lnr-heart"></span>
                                  06
                                  <span class="lnr lnr-bubble"></span>
                                  02
                              </p>
                          </div>
                      </div>
                      <div class="single-blog " style="background:#000 url(img/blog2.jpg);">
                          <a href="single.html">
                              <h4>Home Audio Recording <br>
                                  For Everyone</h4>
                          </a>
                          <div class="meta justify-content-between d-flex">
                              <p>
                                  02 Hours ago
                              </p>
                              <p>
                                  <span class="lnr lnr-heart"></span>
                                  06
                                  <span class="lnr lnr-bubble"></span>
                                  02
                              </p>
                          </div>
                      </div>
                      <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
                          <a href="single.html">
                              <h4>Home Audio Recording <br>
                                  For Everyone</h4>
                          </a>
                          <div class="meta justify-content-between d-flex">
                              <p>
                                  02 Hours ago
                              </p>
                              <p>
                                  <span class="lnr lnr-heart"></span>
                                  06
                                  <span class="lnr lnr-bubble"></span>
                                  02
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>