<!-- start banner Area -->
<section class="banner-area relative" id="home">	
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row search-page-top d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-12">
        <h1 class="text-white">
          Search Job				
        </h1>
       
        <form action="#" class="serach-form-area">
          <div class="row justify-content-center form-wrap">
            <div class="col-lg-4 form-cols">
              <input type="text" class="form-control" name="search" placeholder="what are you looging for?">
            </div>
            <div class="col-lg-3 form-cols">
              <div class="default-select" id="default-selects">
                <select>
                  <option value="1">Select area</option>
                  <option value="2">Mumbai</option>
                  <option value="3">Pune</option>
                  <option value="4">New Delhi</option>
                  <option value="5">Chennai</option>
                  <option value="6">Bengaluru</option>
                  <option value="7">Kolkata</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 form-cols">
              <div class="default-select" id="default-selects2">
                <select>
                  <option value="1">{{selectedDisability}}</option>
                  <option value="2">Vision Impairment</option>
                  <option value="3">Physical disability</option>
                  <option value="4">Deafness</option>
                </select>
              </div>										
            </div>
            <div class="col-lg-2 form-cols">
                <button type="button" class="btn btn-info" (click)="areResultsVisible = true">
                  <span class="lnr lnr-magnifier"></span> Search
                </button>
            </div>	
          </div>							
        </form>	
        <p class="text-white">49 Results found for <span>"Clerk"</span></p>
      </div>											
    </div>
  </div>
</section>
<!-- End banner Area -->	

<!-- Start post Area -->
<section class="post-area section-gap" *ngIf="areResultsVisible === true">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-8 post-list">
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="img/post.png" alt="">
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>					
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
          </div>
        </div>
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="img/post.png" alt="">
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>					
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
          </div>
        </div>
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="img/post.png" alt="">
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>					
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
          </div>
        </div>		
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="img/post.png" alt="">
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>					
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
          </div>
        </div>
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="img/post.png" alt="">
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>					
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
          </div>
        </div>
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="img/post.png" alt="">
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>					
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
          </div>
        </div>															
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="img/post.png" alt="">
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>					
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
          </div>
        </div>	

      </div>
      <div class="col-lg-4 sidebar">

          <div class="single-slidebar">
              <h4>Jobs by Location</h4>
              <ul class="cat-list">
                  <li><a class="justify-content-between d-flex" href="category.html">
                          <p>Mumbai</p><span>42</span>
                      </a></li>
                  <li><a class="justify-content-between d-flex" href="category.html">
                          <p>Bengaluru</p><span>23</span>
                      </a></li>
                  <li><a class="justify-content-between d-flex" href="category.html">
                          <p>Pune</p><span>19</span>
                      </a></li>
                  <li><a class="justify-content-between d-flex" href="category.html">
                          <p>New Delhi</p><span>21</span>
                      </a></li>
                  <li><a class="justify-content-between d-flex" href="category.html">
                          <p>Kolkata</p><span>51</span>
                      </a></li>
                  <li><a class="justify-content-between d-flex" href="category.html">
                          <p>Chennai</p><span>11</span>
                      </a></li>

              </ul>
          </div>

        <div class="single-slidebar">
          <h4>Top rated job posts</h4>
          <div class="active-relatedjob-carusel">
            <div class="single-rated">
              <img class="img-fluid" src="img/r1.jpg" alt="">
              <h4>Creative Art Designer</h4>
              <h6>Premium Labels Limited</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
              </p>
              <h5>Job Nature: Full time</h5>
              <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
              <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
              <a href="#" class="btns text-uppercase">Apply job</a>
            </div>
            <div class="single-rated">
              <img class="img-fluid" src="img/r1.jpg" alt="">
              <h4>Creative Art Designer</h4>
              <h6>Premium Labels Limited</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
              </p>
              <h5>Job Nature: Full time</h5>
              <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
              <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
              <a href="#" class="btns text-uppercase">Apply job</a>
            </div>
            <div class="single-rated">
              <img class="img-fluid" src="img/r1.jpg" alt="">
              <h4>Creative Art Designer</h4>
              <h6>Premium Labels Limited</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
              </p>
              <h5>Job Nature: Full time</h5>
              <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
              <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
              <a href="#" class="btns text-uppercase">Apply job</a>
            </div>																		
          </div>
        </div>							

        <div class="single-slidebar">
            <h4>Jobs by Category</h4>
            <ul class="cat-list">
                <li><a class="justify-content-between d-flex" href="category.html">
                        <p>Vision Impairment</p><span>37</span>
                    </a></li>
                <li><a class="justify-content-between d-flex" href="category.html">
                        <p>Deaf</p><span>57</span>
                    </a></li>
                <li><a class="justify-content-between d-flex" href="category.html">
                        <p>Locomotor Disability</p><span>33</span>
                    </a></li>
                <li><a class="justify-content-between d-flex" href="category.html">
                        <p>Dyslexia</p><span>36</span>
                    </a></li>
            </ul>
        </div>

                       

      </div>
    </div>
  </div>	
</section>
<!-- End post Area -->
