<!-- start banner Area -->
<section class="banner-area relative" id="home">	
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row search-page-top d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">
                    <h1 class="text-white">
                        Search Job				
                    </h1>
                 
                    <form action="#" class="serach-form-area">
                        <div class="row justify-content-center form-wrap">
                            <div class="col-lg-4 form-cols">
                                <input type="text" class="form-control" name="search" placeholder="what are you looging for?">
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects">
                                    <select>
                                        <option value="1">Select area</option>
                                        <option value="2">Mumbai</option>
                                        <option value="3">Pune</option>
                                        <option value="4">New Delhi</option>
                                        <option value="5">Chennai</option>
                                        <option value="6">Bengaluru</option>
                                        <option value="7">Kolkata</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects2">
                                    <select>
                                        <option value="1">All Category</option>
                                        <option value="2">Visual Impared</option>
                                        <option value="3">Deaf</option>
                                        <option value="4">Locomotor Disability</option>
                                        <option value="5">Media</option>
                                        <option value="6">Development</option>
                                    </select>
                                </div>										
                            </div>
                            <div class="col-lg-2 form-cols">
                                <button type="button" class="btn btn-info">
                                  <span class="lnr lnr-magnifier"></span> Search
                                </button>
                            </div>								
                        </div>
                    </form>	
                    <p class="text-white">49 Results found for <span>"Clerk"</span></p>
                </div>											
            </div>
        </div>
    </section>
    <!-- End banner Area -->	
    
    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                             
                                <ul class="tags">
                                        <li>
                                                <a href="#">Software</a>
                                        </li>
                                        <li>
                                                <a href="#">Development</a>
                                        </li>

                                        <li>
                                                        <a href="#">Deafness</a>
                                                </li>
                                </ul>
                        </div>
                        <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                        <div class="titles">
                                                <a href="single.html">
                                                        <h4>UI Fet developer for Pune based MNC</h4>
                                                </a>
                                                <h6>Excel UI Limited</h6>
                                        </div>
                                        <ul class="btns">

                                                <li><a href="#">Applied</a></li>
                                        </ul>
                                </div>
                                <p>
                                        1 to 5 years of experience in Web Application Developement using HTML5, CSS, Javascript/Ajax. Knowledge on any of node.js, Angular, Bootstrap will be added advantage.
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span>Pune</p>
                                <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                        </div>
                </div>
                <div class="single-post d-flex flex-row">
                        <div class="thumb">
                                <ul class="tags">
                                        <li>
                                                <a href="#">Motor Disability</a>
                                        </li>
                                        <li>
                                                <a href="#">Deafness</a>
                                        </li>
                                        <li>
                                                <a href="#">FullStack</a>
                                        </li>
                                </ul>
                        </div>
                        <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                        <div class="titles">
                                                <a href="single.html">
                                                        <h4>Full Stack developer for Gurgaon based MNC</h4>
                                                </a>
                                                <h6>SuperCoders Limited</h6>
                                        </div>
                                        <ul class="btns">

                                                <li><a href="#">Apply</a></li>
                                        </ul>
                                </div>
                                <p>
                                        Full Stack Developer
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span>Gurgaon</p>
                                <p class="address"><span class="lnr lnr-database"></span> 45k - 55k</p>
                        </div>
                </div>
                <div class="single-post d-flex flex-row">
                        <div class="thumb">
                                <ul class="tags">

                                        <li>
                                                <a href="#">Service</a>
                                        </li>
                                        <li>
                                                <a href="#">Motor Disability</a>
                                        </li>
                                </ul>
                        </div>
                        <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                        <div class="titles">
                                                <a href="single.html">
                                                        <h4>Toll operator needed</h4>
                                                </a>
                                                <h6>Highways Limited</h6>
                                        </div>
                                        <ul class="btns">

                                                <li><a href="#">Apply</a></li>
                                        </ul>
                                </div>
                                <p>
                                        Candidate should be able to perform basic ticket collection on toll booth and basic arthmetics
                                </p>
                                <h5>Job Nature: Full time</h5>
                                <p class="address"><span class="lnr lnr-map"></span> Pune</p>
                                <p class="address"><span class="lnr lnr-database"></span> 10k - 15k</p>
                        </div>
                </div>
                 

                                                 

                </div>
            </div>
        </div>	
    </section>
    <!-- End post Area -->