<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          My Profile
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service" style="padding-top: 30px">
  <div class="container">
    <h3 class="mb-10">Basic Details</h3>
  </div>
  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="single-service" style="
        text-align: center;
    ">
          <div class="thumb">
            <img class="img-fluid" src="img/pages/t1.jpg" alt="">

          </div>
          <div class="meta-text mt-30 text-center">
            <h4>Ethel Davis</h4>
            <p>Accountant</p>

            <p>Profile Completeness</p>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>

            </div>
            <p>4/5</p>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-user"></span>Basic Information</h4>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-license"></span>Documents</h4>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>

      <div class="container">
        <h3 class="mb-10">Other Details</h3>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-diamond"></span>Achievements</h4>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-phone"></span>Contact Information</h4>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->
